.payment-container {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background 0.3s, color 0.3s;
  margin: auto;
  margin-top: 50px !important;
  direction: rtl;
}



.form-group {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
  outline: none;
  margin: 10px;
}

.form-group input,
.form-group select {
  border: 2px solid #28a745;
  background: #fff;
  color: #000;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #218838;
  box-shadow: 0px 0px 8px rgba(40, 167, 69, 0.5);
}

.dark-mode .form-group input,
.dark-mode .form-group select {
  border: 2px solid #888;
  background: #333;
  color: #fff;
}

.dark-mode .form-group input:focus,
.dark-mode .form-group select:focus {
  border-color: #0f0;
  box-shadow: 0px 0px 8px rgba(0, 255, 0, 0.5);
}

.payment-success {
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
}

.payment-success {
  background-color: #28a745;
  color: white;
}

.dark-mode .payment-success {
  background-color: #0f0;
  color: #000;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
