#loading-spinner img{
  opacity: 0.2;
  animation: scaler 3s linear infinite alternate-reverse;
}
@keyframes scaler {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.div-0{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
  gap: 20px;
  direction: rtl;
  padding: 15px;
}
@media (min-width: 769px) {
  .div-0{
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }
}
.div-0 .imgProduct{
  width: 100%;
  border-radius: 30px;
}
.div-0 .div-1{
  border-style: none;
  border-radius: 30px;
  padding: 20px;
}



.cart-message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s ease-in-out, fadeOut 0.5s ease-in-out 4.5s;
  z-index: 1000;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: scale(0.99) translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.Block{
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.category-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.category-filter label {
  font-size: 18px;
  font-weight: bold;
}

.category-filter select {
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #28a745;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

.category-filter select:hover {
  border-color: #218838;
  box-shadow: 0px 0px 8px rgba(40, 167, 69, 0.5);
}

@media (max-width: 424px) {
  .Block{
    flex-wrap: wrap;
  }
}