#loading-spinner img{
  opacity: 0.2;
  animation: scaler 3s linear infinite alternate-reverse;
}
@keyframes scaler {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.div-0{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 15px;
  direction: rtl;
  padding: 15px;
}
.div-0 .imgProduct{
  width: 100%;
  border-radius: 30px;
}
.div-0 .div-1{
  border-style: none;
  border-radius: 30px;
  /* box-shadow: 0px 0px 10px 10px gray; */
  padding: 20px;
}

.cart-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s ease-in-out, fadeOut 0.5s ease-in-out 4.5s;
  z-index: 1000;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



.cart-message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s ease-in-out, fadeOut 0.5s ease-in-out 4.5s;
  z-index: 1000;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.product-card {
  /* box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: scale(0.99) translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}